[project]
name = "researchchain"
version = "0.2.2"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "langchain-community>=0.2.15",
    "langchain>=0.2.15",
    "langgraph>=0.2.23",
    "llmlinks==0.1.15",
    "openai>=1.35.13",
    "pypdf>=4.3.1",
    "semanticscholar>=0.8.4",
]

[tool.uv]
dev-dependencies = [
    "ipykernel>=6.29.5",
    "jupyter>=1.1.1",
    "ruff>=0.6.7",
]

[tool.setuptools.packages.find]
where = ["."]
include = ["researchchain"]
