[project]
name = "researchgraph"
version = "0.0.9"
description = "Add your description here"
readme = "README.md"
authors = [
    {name="Toma Tanaka", email="ulti4929@gmail.com"}
]
urls = {"Homepage" = "https://github.com/auto-res/researchgraph/tree/main" }
requires-python = ">=3.10"
dependencies = [
    "aider-chat>=0.62.1",
    "arxiv==2.1.3",
    "langchain-community>=0.2.15",
    "langchain>=0.2.15",
    "langgraph>=0.2.23",
    "llmlinks==0.1.34",
    "openai>=1.35.13",
    "pandas>=2.2.3",
    "pyalex>=0.15.1",
    "pydantic>=2.9.2",
    "pypdf>=4.3.1",
    "semanticscholar>=0.8.4",
    "tomli-w>=1.0.0",
    "tomli>=2.0.1",
]

[tool.uv]
dev-dependencies = [
    "bump2version>=1.0.1",
    "ipykernel>=6.29.5",
    "jupyter>=1.1.1",
    "pre-commit>=3.8.0",
    "ruff>=0.6.7",
]

[tool.ruff]
ignore = ["E731","F841","F821","E741"]

[tool.setuptools.packages.find]
where = ["."]
include = ["researchgraph"]
